nav {
    display:block;
    height: 50px;
    position: sticky;
    top: 0;

}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    }
nav ul li {
    background-color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    height: 50px;
    display: inline-block;
    border-radius: 8px;
}

nav li:hover {
    list-style-type: disc;
    }

nav li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    color: black;
    }
#Logo{

}
