
#flow {
    position: absolute;
    top: 150px;
    left: 15%;
    width: 25%;
    outline: dashed;
    outline-color: red;
}

#flow h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#jolt {
    position: absolute;
    top: 150px;
    left: 41%;
    width: 25%;
    outline: dashed;
    outline-color: green;
}

#jolt h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

#polarity {
    position: absolute;
    top: 150px;
    left: 67%;
    width: 25%;
    outline: dashed;
    outline-color: blue;
}

#polarity h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}