body{
    margin: 0px;
    background-color: rgb(248, 247, 211);
   }

header {
    background: rgb(248, 247, 211);
    height: 100px;
}
#flow {
    position: absolute;
    top: 150px;
    left: 15%;
    width: 25%;
    outline: dashed;
    outline-color: red;
}

#jolt {
    position: absolute;
    top: 150px;
    left: 41%;
    width: 25%;
    outline: dashed;
    outline-color: green;
}

#polarity {
    position: absolute;
    top: 150px;
    left: 67%;
    width: 25%;
    outline: dashed;
    outline-color: blue;
}

#polarity h1, #jolt h1, #flow h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}